.contacts{
  padding: 50px 0;
  &__title{
    text-align: center;
    letter-spacing: -0.5px;
    color: #5C62EC;
    margin-bottom: 60px;
  }
  &__min-title{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #171718;
    margin-bottom: 30px;
  }
  &__description{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #171718;
    margin-bottom: 20px;
  }
  &__link{
    text-align: center;
    display: block;
    color: #171718;
    transition: color 0.2s linear;
    &--margin-bottom{
      margin-bottom: 20px;
    }
    &:hover{
      color: #5C62EC !important;
    }
  }
}