@font-face {
  font-family: 'Poppins';
  src: url('../src/fonts/Poppins-Regular.woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../src/fonts/Poppins-Bold.woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
*{
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
button{
  padding: 0;
}
p{
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
img{
  display: block;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
  font-weight: 400;
}
.container{
  max-width: 1210px;
  margin: 0 auto;
  padding: 20px;
}

.header{
  padding: 0 20px;
  background-color: #171718;;
}
.nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav{
  color: #FFFFFF;
  &__list{
  display: flex;
  align-items: center;
  }
  &__item:not(:last-child){
    margin-right: 40px;
  }
  &__link{
    font-weight: 500;
    font-size: 16px;
    position: relative;
    &::after{
      content: '';
      bottom: 0;
      left: 0;
      position: absolute;
      width: 0%;
      height: 3px;
      background: #5C62EC;
      transition: all 0.2s linear;
    }
    &:hover::after{
      width: 100%;
    }
  }
  &__link.active{
    border-bottom: 3px solid #5C62EC;
  }
}
.theme-toogle{
  display: flex;
  align-items: center;
}
.logo{
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}
.theme-toogle{
  width: 51px;
  height: 26px;
  background: #272727;
  border-radius: 50px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
  img{
    width: 40%;
    position: relative;
    z-index: 2;
  }
  &::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: 100%;
    background: #ffffff;
    left: 0;
    z-index: 1;
  }
}